@config "../../tailwind.config.cjs";

@tailwind base;
@tailwind components;
@tailwind utilities;
/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */


 .hero-image {
  width: 100%;
}
.hero-image img {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}
.prose {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 1em;
}
.title {
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  line-height: 1;
}
.title h1 {
  margin: 0 0 0.5em 0;
}
.date {
  margin-bottom: 0.5em;
}
.last-updated-on {
  font-style: italic;
}
