---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.tsx';
import Footer from '../components/Footer.tsx';
import { SITE_DESCRIPTION } from '../consts';
import '@fontsource/poppins';
import AllResources from './../sections/Resources/AllResources';
import { Search } from '../components/icons/icons';
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead title={'Lessons'} description={SITE_DESCRIPTION} />
	</head>
	<body class='bg-white dark:bg-black'>
		<Header client:load />
		<main
			class='pt-32 text-black sm:pt-40 md:pt-48 lg:pb-16 lg:pt-56 dark:text-white'
		>
			<section class='px-4 mx-auto sm:px-12 xl:max-w-6xl xl:px-0'>
				<div class='text-center'>
					<h1 class='text-3xl font-bold md:text-4xl lg:text-6xl'>
						The WebbsAI Courses
					</h1>
					<p class='text-base md:text-lg lg:text-xl max-w-[800px] mx-auto mt-4'>
						Learn from my bite-sized WebbsAI tutorials where I show you how to
						create stunning effects and animations on your websites.
					</p>
				</div>
				<div class='mt-16'>
					<div
						class='flex bg-secondary-light dark:bg-secondary-dark rounded-[20px] h-[60px] items-center px-8 gap-x-4 max-w-[400px] mx-auto'
					>
						<Search className='invert dark:invert-0' />
						<input
							placeholder='Search resources'
							class='w-full bg-transparent outline-none'
						/>
					</div>
				</div>
			</section>

			<section class='px-4 mx-auto mt-16 sm:px-12 xl:max-w-6xl xl:px-0'>
				<div class='text-center'>
					<h2 class='text-2xl font-bold md:text-3xl lg:text-5xl'>
						Latest Resource
					</h2>
				</div>
				<a href='#'>
					<div
						class='mt-8 bg-center bg-no-repeat bg-cover h-[500px] rounded-[20px] relative bg-secondary-light dark:bg-secondary-dark'
					>
					</div>
				</a>
			</section>

			<section class='px-4 mx-auto mt-16 sm:px-12 xl:max-w-6xl xl:px-0'>
				<AllResources client:only />
			</section>
		</main>
		<Footer />
	</body>
</html>
