---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../sections/Blogs/BlogPost.tsx';
import Header from '../../components/Header';
import BaseHead from '../../components/BaseHead.astro';
import { SITE_DESCRIPTION } from '../../consts';
import Footer from '../../components/Footer';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead title={post.data.title} description={SITE_DESCRIPTION} />
	</head>
	<body class='bg-white dark:bg-black'>
		<Header client:only />
		<main
			class='pt-32 text-black sm:pt-40 md:pt-48 lg:pb-16 lg:pt-56 dark:text-white'
		>
			<BlogPost {...post.data}>
				<Content />
			</BlogPost>
		</main>
		<Footer />
	</body>
</html>
