---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.tsx';
import Footer from '../../components/Footer.tsx';
import { SITE_DESCRIPTION } from '../../consts.ts';
import '@fontsource/poppins';
import { getCollection } from 'astro:content';
import BlogsSection from '../../sections/Blogs/Blogs.tsx';
import { RightArrow } from '../../components/icons/icons.tsx';

const blogs = (await getCollection('blog')).sort(
	(a, b) =>
		//@ts-ignore
		b.data.pubDate - a.data.pubDate
);
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead title={'Blogs'} description={SITE_DESCRIPTION} />
	</head>
	<body class='bg-white dark:bg-black'>
		<Header client:load />
		<main
			class='pt-32 text-black sm:pt-40 md:pt-48 lg:pb-16 lg:pt-56 dark:text-white'
		>
			<section class='px-4 mx-auto sm:px-12 xl:max-w-6xl xl:px-0'>
				<div class='text-center'>
					<h1 class='text-3xl font-bold md:text-4xl lg:text-6xl'>
						The WebbsAI Blog
					</h1>
					<p class='text-base md:text-lg lg:text-xl max-w-[800px] mx-auto mt-4'>
						Stay Up-to-Date on the Latest in Website Development and AI.
					</p>
				</div>
			</section>

			<BlogsSection client:only blogs={blogs} />

			<section class='px-4 mx-auto mt-24 sm:px-12 xl:max-w-6xl xl:px-0'>
				<h2 class='text-6xl font-bold text-center'>Popular Courses</h2>
				<p
					class='flex items-center justify-center gap-4 mt-8 text-lg md:text-xl lg:text-2xl'
				>
					<span class='underline'>Explore all</span><RightArrow
						className='invert dark:invert-0'
					/>
				</p>
				<div
					class='grid grid-cols-1 mt-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-7'
				>
					{
						[1, 2, 3, 4].map(() => (
							<a>
								<div class='bg-[#EEEEEE] dark:bg-[#131313] p-5 pb-8 flex flex-col gap-5 rounded-[20px]'>
									<img
										src='https://picsum.photos/seed/hello2/300/150'
										class='h-[150px] rounded-[20px]'
									/>
									<h3 class='text-base md:text-lg lg:text-xl'>
										Step-by-step guides to using WebbsAI
									</h3>
									<p class='text-xs lg:text-sm text-black/70 dark:text-white/70 max-h-[100px] text-ellipsis overflow-hidden'>
										The website builder for everyone, from novices to pros. With
										our generative AI technology.
									</p>
								</div>
							</a>
						))
					}
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
